
.website-enter-active, .website-enter-active {
  transition: opacity .10s;
}
.website-enter, .website-leave-to {
    opacity: 0;
}

.call-enter-active, .call-enter-active {
  transition: opacity .10s;
}
.call-enter, .call-leave-to {
    opacity: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #CEF6F5;
}

h1 {
    color: white;
    font-size: 80px;
    background: #2E64FE
}

h2, h3, h4, h5 {
    color: darkcyan;
    font-size: 40px;
    padding-left: 40px;
}

.welcome {
    text-align: left;
    padding-left: 60px;
    font-size: 25px;
}

.searchbar {
    text-align: right;
    padding-right: 60px;
    font-size: 25px;
}

.embla, .cheek, .lesa, .sl, .four, .five, .view {
    font-size: 25px;
    margin: auto;
    width: 80%
}

.tab-button {
    margin: auto;
    width: 80%;
    
}
